*.lck
*.Zip
Conception/Mechanical/Cup_Dispenser_3/Boards/Cup_Dispenser_Prototype/__Previews/Board.PcbDocPreview
Conception/Mechanical/Cup_Dispenser_3/Boards/Cup_Dispenser_Prototype/__Previews/Schematic.SchDocPreview